/*---------*/
/* GENERAL */
/*---------*/

img {
    border: 1px black solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

body {
    padding-top: 60px;
}

h2 {
    padding-top: 30px;
}

.thumbnail img {
    padding: 0 0 0 0;
}

div.thumbnail .caption {
    padding: 0 9px 0 9px;
    text-align: right;
}

div.thumbnail .caption p {
    margin: 0 0 0 0;
}

.right {
    text-align: right;
}

.update {
    margin-top: 25px;
}

/*--------*/
/* NAVBAR */
/*--------*/

.navbar-default {
    background-color: #4c4c4c !important;
    border-bottom: none !important;
}

.navbar-default li a {
    color: white !important;
    letter-spacing: .05em;
}

.navbar-nav a:hover {
    background-color: #348eda !important;
}

.navbar-nav .active a {
    background-color: #348eda !important;
}

.logo {
    font-size: 1.2em;
}

.logo-front {
    color: #4ca3ec;
}

.logo-back {
    color: white;
}

.pageflow {
    margin-top: 40px;
}
.pageflow .right {
    text-align: right;
}

/*--------*/
/* Footer */
/*--------*/

footer {
    margin: 40px 0 20px 0;
}

footer hr {
    margin: 0 0 10px 0;
}

footer span {
    padding: 10px 15px;
    display: block;
}