/*---------*/
/* GENERAL */
/*---------*/

html {
    overflow-y: scroll;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: -3px 1px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -3px 1px 20px rgba(0, 0, 0, 0.3);
    box-shadow: -3px 1px 20px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    margin-bottom: 40px;
}

img.no-effects {
    box-shadow: none;
}

body {
    padding-top: 60px;
}

h2 {
    padding-top: 20px;
}

h3 {
    padding-top: 15px;
}

.container {
    max-width: 1015px;
}

.thumbnail img {
    padding: 0 0 0 0;
}

div.thumbnail .caption {
    padding: 0 9px 0 9px;
    text-align: right;
}

div.thumbnail .caption p {
    margin: 0 0 0 0;
}

.right {
    text-align: right;
}

.update {
    margin-top: 25px;
}

.seq-one {
    border-bottom: 5px solid #7ddd2e;
}

.seq-two {
    border-bottom: 5px solid #0090ff;
}

.seq-three {
    border-bottom: 5px solid #f8213e;
}

.seq-four {
    border-bottom: 5px solid #ffd554;
}

.fa-book {
    margin-right: 5px;
}

/*--------*/
/* NAVBAR */
/*--------*/

/*
.support {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 728px;
}

.support-img {
    margin-top: 0;
}
*/

.navbar-default {
    background-color: #4c4c4c !important;
    border-bottom: none !important;
}

.navbar-default li a {
    color: white !important;
    letter-spacing: .05em;
}

.navbar-nav a:hover, .navbar-nav a:active, .navbar-nav a:visited, .navbar-nav a:focus {
    background-color: #348eda !important;
}

.navbar-nav .active a {
    background-color: #348eda !important;
}

ul.dropdown-menu li a {
    color: #333 !important;
}

ul.dropdown-menu li a:hover {
    background-color: #f6f6f6 !important;
}

.logo {
    font-size: 1.2em;
}

.logo-front {
    color: #4ca3ec;
}

.logo-back {
    color: white;
}

.pageflow {
    margin-top: 40px;
    font-size: 1.4em;
}
.pageflow .right {
    text-align: right;
}

.body-caret {
    float: right;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
    border-top: 7px solid #707070 !important;
    margin-top: 6px;
}

.panel-heading {
    background-color: #f5f5f5;
    color: #707070;
    border-color: #ddd;
}

.dropdown-bg {
    background-color: #348eda;
    
}

/*--------*/
/* Footer */
/*--------*/

footer {
    margin: 40px 0 20px 0;
}

footer hr {
    margin: 0 0 10px 0;
}

footer span {
    padding: 10px 15px;
    display: block;
}


#twitter-widget-0 {
    padding-top: 6px;
    height: 35px !important;
    margin-left: 10px;
    margin-right: 25px;
}