img {
    border: 1px black solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

body {
    padding-top: 60px;
}

.thumbnail img {
    padding: 0 0 0 0;
}

div.thumbnail .caption {
    padding: 0 9px 0 9px;
    text-align: right;
}

div.thumbnail .caption p {
    margin: 0 0 0 0;
}

/* NAVBAR */

.logo {
    font-size: 1.2em;
}

.logo-back {
    color: #348eda !important;
}

/* FOOTER */

footer {
    margin: 40px 0 20px 0;
}

footer hr {
    margin: 0 0 10px 0;
}

footer span {
    padding: 10px 15px;
    display: block;
}